

h1, h2, p, a {
    color: white;
}

p, a {
    font-size: 20px;
}


img {
    border: 5px solid #EBA750;
}

header, footer {
    background-color:#EBA750;
    width:100%;
    height: 7vh;
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
}

.logo {
    margin-right: auto;
    width: 100%;
    height: 100%;
    border: none;
}

header > a {
    align-content: center;
    color:black;

}

footer > p {
    color:black;
    font-family: "Judson", serif;
}

body {
    background-color: #00373D;

}



.hero-img {
    width: 100%;
    height: 80vh;
    position: absolute;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    border:none;
}

h1 {
    align-content: center;
    background-color: #3C5663;
    border: 5px solid #EBA750;
    justify-content: center;
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items:center;
    text-align: center;
    position: relative;
    justify-items: center;
    margin: auto;
    padding: 5%;
    margin-top: 28vh;
    font-size: 300%;
    border-radius: 40px;
    font-family: "Judson", serif;
}

h2 {
    font-family: "Judson", serif;
}

a {
    font-family: "Judson", serif;
}

p {
    font-family: "Inika", serif;
}

.introduction-section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35dvh;
    width:94%;
    align-content: center;
    background-color: #3C5663;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.introduction-section > h6 {
    position: absolute;
}
.intro {
    background-color: #3C5663;
    flex-wrap: wrap;
    background-size: auto;
}


#interior-image {
    width: 45%;
    max-width: 50vh;

}



.covenience-section-home,.safety-section-home,.cleaning-section-home {
    background-color:#3C5663;
    display: flex;
    flex-direction: row;
    margin: 3%;
    max-height:40vh
}



#wallclock-image {
    width: 45%;
    max-width: 50vh;

}

#fire-alarm-image {
    width: 45%;
    max-width: 50vh;
}

#robot-mouse {
    width: 45%;
    max-width: 50vh;
}

article > nav {
    background-color:black;
    width: max-content;
    border:3px solid black;
}

article {
    margin-left: 2%;
}



footer {
    justify-content: flex-start;
}

footer > p {
    margin-left: 1%;
}

section > h6 {
    color: #3C5663;
}



