

h1, h2, p, a {
    color: white;
}

img {
    border: 5px solid #EBA750;
}

header, footer {
    background-color:#EBA750;
    width:100%;
    height: 7vh;
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
    position: sticky;
}

.logo {
    margin-right: auto;
    width: 100%;
    height: 100%;
    border: none;
}

header > a {
    align-content: center;

}

footer > p, header > a {
    color:black;
}

body {
    background-color: #00373D;

}



.hero-img {
    width: 100%;
    height: 80vh;
    position: absolute;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    border:none;
}

h1 {
    align-content: center;
    background-color: #3C5663;
    border: 5px solid #EBA750;
    justify-content: center;
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items:center;
    text-align: center;
    position: relative;
    justify-items: center;
    margin: auto;
    padding: 5%;
    margin-top: 28vh;
    font-size: 300%;
    border-radius: 40px;
}

.introduction-section {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 35dvh;
    width:75%;
    align-content: center;
}

.intro {
    background-color: #3C5663;
    flex-wrap: wrap;
    background-size: auto;
}


#interior-image {
    width: 35vh;
    height: 25vh;

}

#intro-header {
    width: 50%;
}

#intro-paragraph {
    width: 50%;
}

.covenience-section-home,.safety-section-home,.cleaning-section-home {
    background-color:#3C5663;
    display: flex;
    flex-direction: row;
    margin: 3%;
    max-height:40vh
}



#wallclock-image {
    max-width: 45%;

}

#fire-alarm-image {
    max-width: 45%;
}

#robot-mouse {
    max-width: 45%;
    max-height:fit-content
}

article > nav {
    background-color:black;
    width: max-content;
    border:3px solid black;
}

article {
    margin-left: 2%;
}



footer {
    justify-content: flex-start;
}

footer > p {
    margin-left: 1%;
}

section > h6 {
    color: #3C5663;
}