

h1, h2, p, a {
    color: white;
}

img {
    border: 5px solid #EBA750;
}

header, footer {
    background-color:#EBA750;
    width:100%;
    height: 7vh;
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
    position: sticky;
}

.logo {
    margin-right: auto;
    width: 100%;
    height: 100%;
    border: none;
}

header > a {
    align-content: center;

}

footer > p, header > a {
    color:black;
}

body {
    background-color: #00373D;

}



.hero-img {
    width: 100%;
    height: 80vh;
    position: absolute;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    border:none;
}

h1 {
    align-content: center;
    background-color: #3C5663;
    border: 5px solid #EBA750;
    justify-content: center;
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items:center;
    text-align: center;
    position: relative;
    justify-items: center;
    margin: auto;
    padding: 5%;
    margin-top: 28vh;
    font-size: 300%;
    border-radius: 40px;
}

section.introduction-section {
    display:flex;
    flex-direction: row-reverse;
    margin-top: 35dvh;
    background-color: #3C5663;
    width:75%;
    justify-content: center;
}
.intro {
    display: flex;
    justify-content: flex-start;

}
#intro-header {
    order: 1
}

#wallclock-image {
    display: flex;
    align-self: end;

}


.covenience-section-home, article.safety-section-home, article.cleaning-section-home {
    background-color:#3C5663;
    display: flex;
    width: 48%;
    align-content:flex-start;
    flex-direction: column;
}

section > img {
    display: flex;
    align-content:flex-end
}


article > nav {
    background-color:black;
    width:max-content;
    border:3px solid black;
}




footer {
    justify-content: flex-start;
}

footer > p {
    margin-left: 1%;
}