


h1, h2, p, a {
    color: white;
}

h1 {
    align-content: center;
    background-color: #3C5663;
    border: 5px solid #EBA750;
    justify-content: center;
    display: flex;
    width: 50vh; 
    align-items:center;
    text-align: center;
    width: 100%; 
    height: 20vh;
    margin-top: -1vh;
    font-size: 300%;
}

dl {
    color: white;
}

header, footer {
    background-color:#EBA750;
    width:100%;
    height: 7vh;
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
}

.logo {
    margin-right: auto;
    width: 100%;
    height: 100%;
}

header > a {
    align-content: center;

}

footer > p, header > a {
    color:black;
}

body {
    background-color: #00373D;

}

footer {
    margin-top: 200px;
    justify-content: flex-start;
    position: relative;
}

footer > p {
    margin-left: 1%;
}

.safety {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.safety-text {
    background-color:#3C5663;
    min-height: 40%;
    min-width: 5%;
}

.safety-image {
    min-width: 1vh;
    max-width: 85vh;
    border: 5px solid #EBA750;
}


h2 {
    text-decoration: underline;
}

dt {
    text-decoration: underline;
    margin-left: 1%;
}

dd {
    margin-bottom: 1%;
}

#sprinkler-image {
    margin-bottom: 35%;
}
